.container {
    padding: 20px 0;
    
    @media only screen and (max-width: 768px) {
        padding: 0px;
    }
}


.paper-post {
    width: 54vw;
    padding: 3vw;
    margin: 0 auto;
    color: $COLOR_PAPER_TITLE_TEXT;
    // font-family: $FONT_BODY;
    background: $COLOR_WHITE;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .07) !important;
    transition-duration: .3s;
    transition-property: box-shadow, transform;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    
    @media only screen and (max-width: 768px) {
        width: 100%;
        border: none;
        border-radius: 0px;
    }

    &__heading {
        margin: auto;
        margin-bottom: 3rem;
        h1 {
            // font-family: $FONT_BODY;
            font-size: remFont(26);
            font-weight: $WEIGHT_FONT_HEADING;
            line-height: 1.2;
            color: $COLOR_PAPER_TITLE_TEXT;
            margin: 0 0 1vh 0;

            @media only screen and (max-width: 768px) {
                font-size: remFont(23);
            }
        }
    }

    &__article {
        margin: 0 auto;
        line-height: 1.8;
        min-height: 100%;
        // font-family: $FONT_BODY;
        font-weight: $WEIGHT_FONT_BODY;
        color: $COLOR_PAPER_BODY_TEXT;
        word-break: break-word;
        ::v-deep {

            @media only screen and (max-width: 768px) {
                width: 100%;
                font-size: 0.875rem;
            }
            
            @for $i from 1 through 6 {
                h#{$i} {
                    line-height: 1.2;
                    margin: remFont(16) auto;
                    // font-family: $FONT_BODY;
                    color: $COLOR_PAPER_TITLE_TEXT;
                    font-size: remFont($HEADING_BASE_FONT_SIZE + $HEADING_SCALE * (6 - $i));
            
                    // border-bottom: 1px solid #eee;
                    @media only screen and (max-width: 768px) {
                        font-size: remFont($HEADING_BASE_FONT_SIZE_MOBILE + $HEADING_SCALE * (6 - $i));
                    }
                }
            }
            
            p,
            blockquote,
            ul,
            ol,
            dl,
            table {
                margin-bottom: remFont(8)
            }
            
            blockquote {
                margin: 1rem 0;
                padding: .25rem 0 .25rem 1rem;
                color: #999;
                border-left: .2rem solid #dfe2e5;
            }
            
            b,
            strong {
                font-weight: bold;
            }
            
            li {
                ul {
                    margin: remFont(3.2) auto;
                }
            }
            
            table {
                max-width: 100%;
                width: auto;
                margin: 1rem auto;
                overflow: auto;
                text-align: left;
                break-inside: auto;
                table-layout: fixed;
                border-collapse: collapse;
            
                tr:nth-child(2n),
                thead {
                    background-color: #f8f8f8;
                }
            
                th,
                td {
                    border: 1px solid #dfe2e5;
                    padding: 6px 13px;
                }
            }
            
            p {
                letter-spacing: .0625rem;
            
                img {
                    display: block;
                    margin: auto;
                    max-width: 100%;
                    padding-bottom: 1rem;
                }
            }
            
            section {
                img {
                    display: block;
                    margin: auto;
                    max-width: 100%;
                    padding-bottom: 1rem;
                }
            }
            
            a {
                color: #0127f8;
                position: relative;
                font-weight: 600;
                text-decoration: none;
            
                &:hover {
                    text-decoration: underline;
                }
            }
            
            pre {
                max-height: 600px!important;
                overflow: auto;
            }
            
            code:not([class*='language-']) {
                margin: remFont(2);
                padding: remFont(2) remFont(4) !important;
                color: #a52a2a;
                border-radius: 0.1rem;
                background-color: #0000000a !important;
            }
        }
    }
}