$FONT_BODY: 'proxima-nova';

$SIZE_BODY_DEFAULT: 16;

$WEIGHT_FONT_BODY: 400;
$WEIGHT_FONT_MID: 600;
$WEIGHT_FONT_HEADING: 800;

$HEADING_BASE_FONT_SIZE: 14;
$HEADING_BASE_FONT_SIZE_MOBILE: 10;
$HEADING_SCALE: 3; 
// amount of px headings grow from h6 to h1

$COLOR_BLACK: #000000;
$COLOR_WHITE: #FFFFFF;
$COLOR_SCREEN_BACKGROUND: #0127f8;
$COLOR_SCREEN_LINK_HIGHLIGHT: #EA3EE3;

$COLOR_BLOG_TITLE_TEXT: #4c4c4c;
$COLOR_BLOG_BODY_TEXT: #4c4c4c;
$COLOR_BLOG_TIME_TEXT: #aaaaaa;
$COLOR_BLOG_ALBUM_BORDER: #FFFFFF;
$COLOR_BLOG_CHIP_BORDER: #FFFFFF;

$COLOR_PAPER_TITLE_TEXT: #242738;
$COLOR_PAPER_BODY_TEXT: #242738;
$COLOR_PAPER_ALBUM_BORDER: #FFFFFF;
$COLOR_PAPER_CHIP_BORDER: #FFFFFF;

@function remFont($SIZE) {
  $REM_SIZE: $SIZE / $SIZE_BODY_DEFAULT;
  @return #{$REM_SIZE}rem;
}

:root {
  --album-bg-colour: #{$COLOR_SCREEN_BACKGROUND};
  --album-text-colour: #{$COLOR_WHITE};
}
